
<section class="content-header">
	<h1>Chemical Entry Form</h1>
</section>
<section class="content">
	<div class="row animated fadeInRight">
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-body">
					<form role="form">

		<div class="form-group">
			<select class="form-control" ng-model="cleaningService" ng-options="item.name for item in cleaningServices" ng-change="checkCleaningArea()"></select>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="cleaningArea" ng-options="item.name for item in cleaningService.cleaningAreas" ng-disabled="cleaningService.value==0" ng-change="checkApplicationArea()"></select>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="application" ng-options="item.name for item in cleaningArea.applications" ng-disabled="cleaningArea.value==0 || cleaningService.value==0"></select>
		</div>
		<div class="form-group">
    		<input type="text" class="form-control" id="origin" placeholder="Proposed Brand" ng-model="proposedBrand">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="rt" placeholder="Proposed Chemical" ng-model="proposedChemical">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ac" placeholder="Dilution Ratio" ng-model="dilutionRatio">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ctl" placeholder="Area Coverage [sq.mtr/ltr]" ng-model="areaCoverage">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ctl" placeholder="Origin" ng-model="origin">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ctl" placeholder="Certification" ng-model="certification">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ctl" placeholder="Packing" ng-model="packing">
    	</div>
    	<div class="form-group">
      		<input type="text" class="form-control" id="ctl" placeholder="Total Area Coverage/ltr" ng-model="totalAreaCoverage">
    	</div>
    	<div class="form-group">
              <div class="input-group">
                <input type="text" title="Chemical Image" disabled="disabled"
                  ng-model="imageFileName" placeholder="Upload Chemical Image"
                  class="form-control"> <span class="input-group-btn">
                  <span class="btn btn-file btn-success">Browse <input
                    type="file" uploader="imageUploader" nv-file-select="">
                </span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" title="Catalog Image" disabled="disabled"
                  ng-model="catalogFileName" placeholder="Upload Chemical Catalog"
                  class="form-control"> 
	                <span class="input-group-btn">
	                  	<span class="btn btn-file btn-success">Browse <input type="file" uploader="catalogUploader" nv-file-select=""></span>
	                </span>
              </div>
            </div>
    	<div class="form-group">
      		<div style="color:red">* All fields are mandatory.</div>
      	</div>
    
    
  </form>
				</div><!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-success" ng-click="submitChemical()">Submit</button>

				</div>
				<div class="overlay" ng-show="showChemicalEntryOverlay"></div>
				<div class="loading-img" ng-show="showChemicalEntryLoading"></div>
			</div><!-- /.box -->
		</div>
	</div>
	<div class="row animated fadeInRight">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Chemicals List</h3>
					<div class="box-tools">
						<div class="input-group">
							<input type="text" name="table_search"
								class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Search" ng-model="searchText">
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table style="font-size:11px" id="example1"
						class="table table-bordered table-striped dataTable"
						ng-if="chemicalsList.length>0">
						<thead>
							<tr>
								<th>Cleaning Service</th>
                                                <th>Cleaning Area</th>
                                                <th>Application</th>
                                                <th>Proposed Brand</th>
                                                <th>Proposed Chemical</th>
                                                <th>Dilution Ratio</th>
                                                <th>Area Coverage</th>
                                                <th>Origin</th>
                                                <th>Certification</th>
                                                <th>Packing</th>
                                                <th>Total Area Coverage</th>
                                                <th>Action</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="chemical in chemicalsList | filter:searchText">
                                                <td>{{chemical.cleaningService}}</td>
                                                <td>{{chemical.cleaningArea}}</td>
                                                <td>{{chemical.application}}</td>
                                                <td>{{chemical.proposedBrand}}</td>
                                                <td>{{chemical.proposedChemical}}</td>
                                                <td>{{chemical.dilutionRatio}}</td>
                                                <td>{{chemical.areaCoverage}}</td>
                                                <td>{{chemical.origin}}</td>
                                                <td>{{chemical.certification}}</td>
                                                <td>{{chemical.packing}}</td>
                                                <td>{{chemical.totalAreaCoverage}}</td>
                                                <td>
                                                <div class="btn-group">
   											<button type="button" class="btn btn-primary btn-xs">Preview</button>
   											<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
      											<span class="caret"></span>
      											<span class="sr-only">Toggle Dropdown</span>
   											</button>
   											<ul class="dropdown-menu" role="menu">
      											<li><a ng-href="{{chemical.imageUrl}}" target="_blank"><i class="fa fa-file-image-o"></i>Image</a></li>
      											<li><a ng-href="{{chemical.catalogUrl}}" target="_blank"><i class="fa fa-list-alt"></i>Catalog</a></li>
      										</ul>
										</div>
                                               	 	
											          <button class="btn btn-primary btn-xs" ng-click="editChemical($index)">Edit</button>
											          <button class="btn btn-danger btn-xs" ng-click="deleteChemical(chemical.uuid,$index)">Delete</button>
											        
                                                	
												</td>
                                            </tr>

						</tbody>

					</table>
				</div>
				<div class="overlay" ng-show="showChemicalListOverlay"></div>
				<div class="loading-img" ng-show="showChemicalListLoading"></div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>


