<!-- COMPOSE MESSAGE MODAL -->
        <!--<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">  -->
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="discard()" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
                    </div>
                    <!--<form action="#" method="post">-->
                        <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">To:</span>
                                    <!--<input ng-model="emailTo" type="email" class="form-control" placeholder="Email To">-->
                                    <angucomplete id="composeEmail" placeholder="Enter company name..." pause="100" selectedobject="emailTo" 
                                    			localdata="allCompanies" 
                                    			searchfields="name" titlefield="name" minlength="1" descriptionfield="companyType"
                                    			inputclass="form-control form-control-small" matchclass="highlight" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Subject:</span>
                                    <input ng-model="email.Subject" type="text" class="form-control" placeholder="Enter subject">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea ng-model="email.Body" id="email_message" class="form-control" placeholder="Message" 
                                		style="height:120px;width:568px;resize:none;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-success btn-file">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment"/>
                                </div>
                               
                            </div>

                        </div>
                        <div class="modal-footer clearfix">
                        
                            <button type="button" class="btn btn-danger" ng-click="discard()"><i class="fa fa-times"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary pull-left" ng-click="sendMessage()"><i class="fa fa-envelope"></i> Send Message</button>
                            
                        </div>
                        
                    <!--</form>-->
                <!--</div><!-- /.modal-content -->
            <!--</div><!-- /.modal-dialog -->
        <!--</div><!-- /.modal-->