<div id="page-signin-bg" class="ng-scope">
	<!-- Background overlay -->
	<div class="overlay"></div>
	<!-- Replace this with your bg image -->
	<img alt="" src="img/dubai_night_1.jpg" style="">
</div>
<div class="signup-container animated fadeInRight" >
	<!-- Header -->
	<div class="signup-header">
		<a class="logo-signup" href="index.html"> <img
			style="margin-top: -5px;" alt="" src="img/logo-big.png">&nbsp;CleanEstimateX
		</a>
		<!-- / .logo -->
		<div class="slogan">Simple. Flexible. Intelligent.</div>
		<!-- / .slogan -->
	</div>
	<div class="signup-form">
		<form id="signup-form_id"   name="registerForm" novalidate>
		
			<div class="signup-text">
				<span>Change your Password </span>
			</div>
			
			<div class="form-group w-icon">
				<div >
					<input type="password" class="form-control input-lg" placeholder="New Password" 
						ng-model="newPassword" maxlength="10"><!-- Sending value as attribute -->
				</div>
				<span class="fa fa-user signin-form-icon"></span>
			</div>
			<!-- / New Password -->
			
			<div class="form-group w-icon">
				<div>
					<input type="password" class="form-control input-lg" placeholder="Confirm New Password"
						ng-model="confirmNewPassword" maxlength="10">
				</div>
				<span class="fa fa-user signin-form-icon"></span>
			</div>
			<!-- / Confirm New Password -->
			
			<div class="form-actions">
				<button ng-click="Submit()" class="signup-btn bg-primary">
					<img ng-show="showLoading" ng-src="img/ajax-loader_signup.gif">&nbsp;{{SubmitText}}
				</button>
			</div>
			<!-- / .form-actions -->
			
		</form>
	</div>
</div>