
<section class="content-header">
                    <h1>
                        Settings
                    </h1>
                    
                </section>
	

	<!-- Main content -->
	<section class="content">
		<div class="row animated fadeInRight">
			<div class="col-xs-12">
				<div class="box box-solid">
					<div class="box-body">
						<div class="row">
							<div class="col-md-3 col-sm-4" ng-init="tab = 1">
								<div>
									<ul class="nav nav-pills nav-stacked">
										<li class="header">User Settings</li>
										<li ng-class="{active : tab === 1}"><a href ng-click="tab = 1"><i class="fa fa-info-circle"></i>Basic Info</a></li>
										<li ng-class="{active : tab === 2}"><a href ng-click="tab = 2"><i class="fa fa-lock"></i>Change Password</a></li>
									</ul>
									<div style="margin-bottom: 20px;"></div>
									<ul class="nav nav-pills nav-stacked">
										<li class="header">Company Settings</li>
										<li ng-class="{active : tab === 3}"><a href ng-click="tab = 3"><i class="fa fa-info-circle"></i>Basic Info</a></li>
										<li ng-class="{active : tab === 4}"><a href ng-click="tab = 4"><i class="fa fa-camera"></i>Change Logo</a></li>
										<li ng-class="{active : tab === 5}"><a href ng-click="tab = 5"><i class="fa fa-credit-card"></i>Payment Info</a></li>
										<li ng-class="{active : tab === 6}"><a href ng-click="tab = 6"><i class="fa fa-lock"></i>Administrative</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9 col-sm-8">
							
								<!-- [START] USER BASIC INFO -->
								<div ng-show="tab == 1" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Basic Info</h3>
									</div>
									<div class="box-body bg-gray settings-portlet-height">
										<form role="form-horizontal">
											<div class="form-group">
												<label style="padding-top: 5px;font-weight: 600"
													for="firstname" class="col-sm-2">First Name</label>
												<div class="col-sm-10">
													<div class="input-group margin">
                                        				<input type="text" class="form-control">
				                                        <span class="input-group-btn">
				                                            <button type="button" class="btn btn-primary btn-flat">OK</button>
				                                        </span>
                                    				</div>
												</div>
											
												
											</div>
											<div class="form-group">
												<label style="padding-top: 5px;font-weight: 600"
													for="lastname" class="col-sm-2">Last Name</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" ng-model="profileObject.lastName">
												</div>
											</div>
											<div class="form-group">
												<label style="padding-top: 5px;font-weight: 600"
													for="lastname" class="col-sm-2">Phone</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="phone" placeholder="Enter Phone Number" ng-model="profileObject.phone">
												</div>
											</div>
											
										</form>
									</div>
								</div>
								<!-- [END] USER BASIC INFO -->
								
								<!-- [START] USER CHANGE PASSWORD -->
								<div ng-show="tab == 2" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Change Password</h3>
									</div>
									<div class="box-body bg-gray settings-portlet-height">
										<form role="form-horizontal">
										
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">New Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" placeholder="New Password" 
														ng-model="newPassword" maxlength="10">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">Confirm New Password</label>
												<div class="col-sm-6">
													<input type="password" class="form-control" placeholder="Confirmed New Password" 
														ng-model="confirmNewPassword" maxlength="10">
												</div>
											</div>
										</form>
									</div>
									<div class="box-footer">
										<button class="btn btn-success" ng-click="savePassword()">Save</button>
										<button class="btn btn-warning" ng-click="cancelPassword()">Cancel</button>
									</div>
									
									<div class="overlay" ng-show="showPasswordLoading"></div>
									<div style="position: fixed;" class="loading-img" ng-show="showPasswordImageLoading"></div>	
								</div>
								<!-- [END] USER CHANGE PASSWORD -->
								
								<!-- [START]  COMPANY BASIC INFO -->
								<div ng-show="tab == 3" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Basic Info</h3>
									</div>
									
									<div class="box-body bg-gray settings-portlet-height" style="height:305px;overflow: scroll;">
										<form role="form-horizontal">

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600" 
														for="companyName" class="col-sm-3">Company Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company Name"
														ng-model="profileObject.company['name']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600" 
														for="companyName" class="col-sm-3">Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company Adress"
														ng-model="profileObject.company['address']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600" 
													for="companyName" class="col-sm-3">Company Type</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company Type"
														ng-model="profileObject.company['companyType']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600" 
														for="companyName" class="col-sm-3">Country Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Country Name"
														ng-model="profileObject.company['country']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600" 
														for="companyName" class="col-sm-3">Craeted On</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company`s Date of Establishment"
														ng-model="profileObject.company['createdOn']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">ISO8061 Code</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company`s ISO8061 Code"
														ng-model="profileObject.company['createdOnISO8601']">
												</div>
											</div>

											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">License Link</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Company` License Link"
														ng-model="profileObject.company['licenseLink']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">License Number</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter License Number"
														ng-model="profileObject.company['licenseNumber']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">License URL</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter License URL	"
														ng-model="profileObject.company['licenseUrl']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">Overview</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Overview about the Company"
														ng-model="profileObject.company['overview']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">Type</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Type"
														ng-model="profileObject.company['type']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">UUID</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter UUID"
														ng-model="profileObject.company['uuid']">
												</div>
											</div>
											
											<div class="form-group">
												<label style="padding-top: 5px; font-weight: 600"
														for="companyName" class="col-sm-3">Website Link</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="" placeholder="Enter Website Link"
														ng-model="profileObject.company['webLink']">
												</div>
											</div>
											
										</form>
									</div>
								</div>
								<!-- [END]  COMPANY BASIC INFO -->
								
								
								<!-- [START]  COMPANY LOGO-->
								<div ng-show="tab == 4" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Change Logo</h3>
									</div>
									
									<div class="box-body bg-gray settings-portlet-height"  style="height:480px;">
										<form role="form-horizontal">
										
											<div class="verticalDivider">
												<div class="col-sm-6" >
													<div>Choose a Photo: <input type="file" id="fileInput"
														onchange="angular.element(this).scope().handleFileSelect(this.files);"/>
													</div>
													<div class="cropArea">
														<img-crop  image="myImage" result-image="myCroppedImage" ></img-crop>
													</div>
												</div>
											</div>
											<div style="padding-left: 430px;">
												<div class="col-sm-6" >
													<div style="padding-bottom:20px;">Preview:</div>
													<div style="padding-bottom:15px;">
														<img class="squareImageLarge"  ng-src="{{myCroppedImage}}"/></div>
													<div style="padding-bottom:15px;">
														<img class="squareImageMedium"  ng-src="{{myCroppedImage}}"/></div>
													<div style="padding-bottom:15px;">
														<img class="squareImageSmall"  ng-src="{{myCroppedImage}}"/></div>
													<div style="padding-bottom:15px;">
														<img class="circularImage" ng-src="{{myCroppedImage}}"/></div>
												</div>
											</div>
																					
										</form>
									</div>
									<div class="box-footer">
										<button class="btn btn-success" ng-disabled="disabled" ng-click="saveImage()">Save</button>
										<button class="btn btn-warning" ng-click="cancelImage()">Cancel</button>
									</div>
									<div class="overlay" ng-show="showImageOverlay"></div>
									<div style="position: fixed;" class="loading-img" ng-show="showImageLoading"></div>
								</div>
								<!-- [END]  COMPANY LOGO -->
							
								
								<!-- [START] PAYMENT INFO -->
								<div ng-show="tab == 5" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Payment Info</h3>
									</div>
									<div class="box-body bg-gray settings-portlet-height">
										<form role="form-horizontal">
											
										</form>
									</div>
								</div>
								<!-- [END] PAYMENT INFO -->
								
								
								<!-- [START] ADMINISTRATIVE -->
								<div ng-show="tab == 6" class="box box-success box-solid">
									<div class="box-header">
										<h3 class="box-title">Administrative</h3>

									</div>
									<div class="box-body bg-gray settings-portlet-height">
										<form role="form-horizontal">
											
										</form>
									</div>
								</div>
								<!-- [END] ADMINISTRATIVE -->
								
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</section>


