
<div class="modal-header">
	<h3 class="modal-title">Details</h3>
</div>
<!-- /.modal-header -->

<div class="modal-body">
	<form role="from">
	
		<div class="form-group">
			
			<input type="text" class="form-control" id="name"
			placeholder="User Name" ng-model="show.name">
		</div>
		<div class="form-group">

			<input type="text" class="form-control" id="companyName"
				placeholder="Company Name" ng-model="show.companyName">
		</div>
	
	</form>
</div>
<!-- /.modal-body -->

<div class="modal-footer">
	<button class="btn btn-warning" ng-click="close()">Close</button>
</div>
<!-- /.modal-footer -->