<table style="font-size:12px;" id="example1" class="table table-bordered  dataTable" >
						<thead>
							<tr>
								<th style="width: 20%">Area Type</th>
								<th style="width: 17%">Description</th>
								<th>Service Type</th>
								<th>Service Area</th>
								<th>Service Item</th>
								<th>Quantity</th>
								<th>Length (Feet)</th>
								<th>Width (Feet)</th>
								<th>Total (Sq. Feet)</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="surveyData.length<1">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td style="text-align: center;color: red;">No Records Found</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							
							<tr ng-repeat-start="areaType in surveyData">
        						<td>{{areaType.areaType}}</td>
								<td>{{areaType.description}}</td>
								<td>
									{{areaType.serviceTypes[0].name}} 
									<button class="btn btn-success btn-sm" style="width: 20px;height: 20px;padding: 0px" ng-click="edit($index,0)">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-danger btn-sm" style="width: 20px;height: 20px;padding: 0px" ng-click="deleteServiceType($index,0)">
										<i class="fa fa-times"></i>
									</button>  
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
      						</tr>
      						
      						
					     	<tr ng-repeat-start="serviceType in areaType.serviceTypes" ng-if="$index != 0">
					        	<td></td>
								<td></td>
								<td>
									{{serviceType.name}}
									<button class="btn btn-success btn-sm" style="width: 20px;height: 20px;padding: 0px" ng-click="edit($parent.$index,$index)">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-danger btn-sm" style="width: 20px;height: 20px;padding: 0px" ng-click="deleteServiceType($parent.$index,$index)">
										<i class="fa fa-times"></i>
									</button>  
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
					      	</tr>
					      	<tr  ng-repeat-start="serviceArea in serviceType.serviceAreas">
					        	<td></td>
								<td></td>
								<td></td>
								<td>{{serviceArea.name}}</td>
								<td></td>
								<td></td>
								<td>{{serviceArea.length}}</td>
								<td>{{serviceArea.width}}</td>
								<td>{{(serviceArea.length*serviceArea.width) | currency:'':2}}</td>
					      	</tr>
					      	
					      	<tr ng-repeat-end ng-repeat-start="cleaningItem in serviceArea.cleaningItems">
					        	<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>{{cleaningItem.name}}</td>
								<td>{{cleaningItem.quantity}}</td>
								<td></td>
								<td></td>
								<td></td>
					      	</tr>
					      	
					      	
					      	<tr ng-repeat-end>
					      		
					      	</tr>
					      	<tr ng-repeat-end>
					      		<td></td>
					      		<td></td>
					      		<td style="background-color: #d3d3d3;"><strong>Total</strong> </td>
					      		<td style="background-color: #d3d3d3;"></td>
					      		<td style="background-color: #d3d3d3;"></td>
					      		<td style="background-color: #d3d3d3;"><strong>{{getTotalOfServiceItems(serviceType)}}</strong></td>
					      		<td style="background-color: #d3d3d3;"></td>
					      		<td style="background-color: #d3d3d3;"></td>
					      		<td style="background-color: #d3d3d3;"><strong>{{getTotalOfServiceAreas(serviceType) | currency:'':2}}</strong></td>
					      	</tr>
					      	<tr ng-repeat-end></tr>
					      	
						</tbody>

					</table>