<!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
<div class="rows animated fadeInRight">
                    <div class="error-page">
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> Oops! Device not supported.</h3>
                            <p>
                                Currently we are not supporting this application from the mobile device.
								You can begin using this application from PC browser or ipad..
                            </p>
                            <form class='search-form'>
                                <div class='input-group'>
                                    <input type="text" name="search" class='form-control' placeholder="Search"/>
                                    <div class="input-group-btn">
                                        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div><!-- /.input-group -->
                            </form>
                        </div><!-- /.error-content -->
                    </div><!-- /.error-page -->
</div>
                </section><!-- /.content -->