<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>Tools And Consumables</h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="row animated fadeInRight">
		<div class="col-md-6">
			<div class="box box-success">
			
				<!-- .box-body -->
				<div class="box-body">
					<form role="form">
					
						<div class="form-group">
							<select title="Application" ng-click="checkApplicationType()"
								ng-options="item.name for item in applications"
								ng-model="application" class="form-control">
							</select>
						</div>
						<div class="form-group">
							<input type="text" title="Descrition" ng-model="description" 
							placeholder="Enter Description" id="brd" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" title="Brand" ng-model="brand"
								placeholder="Enter Brand" id="brd" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" title="Model" ng-model="model"
								placeholder="Enter Model" id="model" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" title="Origin" ng-model="origin"
								placeholder="Enter Origin" id="origin" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" title="Origin" ng-model="packing"
								placeholder="Enter Packing" id="origin" class="form-control">
						</div>
						<div class="form-group">
							<div style="color: red">* All fields are mandatory.</div>
						</div>
						
					</form>
				</div><!-- /.box-body -->
				
				<!-- Submit Button .box -->
				<div class="box-footer">
					<button ng-click="submitToolsAndConsumables()" class="btn btn-success"type="submit">Submit</button>
				</div>
				<div class="overlay" ng-show="showToolsEntryOverlay"></div>
				<div class="loading-img" ng-show="showToolsEntryLoading"></div>
				<!-- Submit Button /.box -->
				
			</div>
		</div>
	</div>
	
	<div class="row animated fadeInRight">
		<div class="col-xs-12">
			<!-- .box -->	
			<div class="box box-primary">
			
				<!-- .box-header -->
				<div class="box-header">
					<h3 class="box-title">Tools And Consumables List</h3>
					<div class="box-tools">
						<div class="input-group">
							<input type="text" name="table_search"
								class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Search" ng-model="searchText">
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>	
				</div>
				<!-- /.box-header -->
				
				<!-- .box-body -->
				<div class="box-body table-responsive no-padding">
					<table style="font-size:12px" id="example1"
						class="table table-bordered table-striped dataTable"
						ng-if="ToolsAndConsumablesList.length>0">
						<thead>
							<tr>
								<th>Application</th>
								<th>Description</th>
								<th>Brand</th>
								<th>Model</th>
								<th>Origin</th>
								<th>Packing</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in ToolsAndConsumablesList | filter:searchText" >
								<td>{{item.application}}</td> <!-- applicationPurpose -->
								<td>{{item.description}}</td>
								<td>{{item.brand}}</td>
								<td>{{item.model}}</td>
								<td>{{item.origin}}</td>
								<td>{{item.packing}}</td>
								<td>		
									<button class="btn btn-primary btn-xs" ng-click="editToolsAndConsumables($index)">Edit</button>
									<button class="btn btn-danger btn-xs" ng-click="deleteToolsAndConsumables(item.uuid,$index)">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
				
				<div class="overlay" ng-show="showToolsListOverlay"></div>
				<div class="loading-img" ng-show="showToolsListLoading"></div>
				
			</div>
			<!-- /.box -->
			
		</div>
	</div>
</section>
<!-- /.content -->