<div id="page-signin-bg" class="ng-scope">
	<!-- Background overlay -->
	<div class="overlay"></div>
	<!-- Replace this with your bg image -->
	<img alt="" src="img/macys_logo.jpg" style="">
</div>
<div class="signup-container animated fadeInRight" >
	<!-- Header -->
	<div class="signup-header">
		<a class="logo-signup" href="index.html"> <img
			style="margin-top: -5px;" alt="" src="img/logo-big.png">&nbsp;FillTheCup
		</a>
		<!-- / .logo -->
		<div class="slogan">Simple. Flexible. Intelligent.</div>
		<!-- / .slogan -->
	</div>
	<div class="signup-form">
		<form id="signup-form_id"   name="passwordResetForm" novalidate>
			<div class="signup-text">
				<span>Let's find your account </span>
			</div>
			<div class="form-group w-icon">
				<input name="userEmail" class="form-control input-lg" placeholder="Email" type="email" ng-model="userEmail" required>
				<span style="color:red" ng-show="passwordResetForm.userEmail.$dirty && passwordResetForm.userEmail.$invalid">
							<span ng-show="passwordResetForm.userEmail.$error.required">Email is required.</span>
							<span ng-show="passwordResetForm.userEmail.$error.email">Invalid email.</span>
				</span>
				<span class="fa fa-user signin-form-icon"></span>
			</div> 
			<!-- / Email -->
			<div class="form-actions">
				<button ng-click="Submit()" ng-class="(passwordResetForm.userEmail.$error.required || passwordResetForm.userEmail.$error.email) ? 'signup-btn' : 'signup-btn bg-primary-macys'" 
											ng-disabled="(passwordResetForm.userEmail.$error.required || passwordResetForm.userEmail.$error.email) ? true : false">
					<img ng-show="showLoading" ng-src="img/ajax-loader_signup.gif">&nbsp;{{SubmitText}}
				</button>
			</div>
			<div class="form-actions">
				<button ng-click="Cancel()" class="signup-btn btn btn-warning">CANCEL</button>
			</div>
			<!-- / .form-actions -->
		</form>
	</div>
</div>