<section class="content">
	<div class="row animated fadeInRight">
		<div class="col-xs-6">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Create Releases</h3>

				</div>
				<div class="box-body">
					<form role="form" name="createReleaseForm" novalidate>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.name.$dirty && createReleaseForm.name.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="name" ng-model="name" placeholder="Enter Release Name" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.branchCutDate.$dirty && createReleaseForm.branchCutDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="branchCutDate" ng-model="branchCutDate" placeholder="Enter Branch Cut Date" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.branchFreezeDate.$dirty && createReleaseForm.branchFreezeDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="branchFreezeDate" ng-model="branchFreezeDate" placeholder="Enter Freeze Date" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.branchHardLockDate.$dirty && createReleaseForm.branchHardLockDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="branchHardLockDate" ng-model="branchHardLockDate" placeholder="Enter Hardlock Date" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.branchProductionDate.$dirty && createReleaseForm.branchProductionDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="branchProductionDate" ng-model="branchProductionDate" placeholder="Enter Production Date" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.mcomDate.$dirty && createReleaseForm.mcomDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="mcomDate" ng-model="mcomDate" placeholder="Enter MCOM Date" required>
						</div>
						<div style="margin-bottom: 5px" ng-class="(createReleaseForm.bcomDate.$dirty && createReleaseForm.bcomDate.$invalid) ? 'form-group has-error' : 'form-group' ">
							<input class="form-control" type="text" name="bcomDate" ng-model="bcomDate" placeholder="Enter BCOM Date" required>
						</div>
						<div class="form-group">
      						<div style="color:red">* All fields are mandatory.</div>
      					</div>
					</form>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button ng-click="submitRelease()" type="submit" ng-class="(createReleaseForm.name.$error.required || createReleaseForm.branchCutDate.$error.required || createReleaseForm.branchFreezeDate.$error.required || createReleaseForm.branchHardLockDate.$error.required || createReleaseForm.branchProductionDate.$error.required || createReleaseForm.mcomDate.$error.required || createReleaseForm.bcomDate.$error.required ) ? 'btn btn-success disabled' : 'btn btn-success'">Submit</button>
					
				</div>
				<div class="overlay" 		ng-show="releaseOverlay"></div>
				<div class="loading-img" 	ng-show="releaseLoading"></div>
			</div>
			
		</div>
		
	</div>
	<div class="row animated fadeInRight">
		<div class="col-xs-12">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Releases List</h3>
					<div class="box-tools">
						<div class="input-group">
							<input type="text" name="table_search"
								class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Search" ng-model="searchText">
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table style="font-size:12px" id="example1" class="table table-bordered table-striped dataTable" ng-if="releasesList.length>0">
						<thead>
							<tr>
								<th>Release Name</th>
								<th>BranchCut Date</th>
								<th>BranchFreeze Date</th>
								<th>BranchHardlock Date</th>
								<th>BranchProduction Date</th>
								<th>MCOM Date</th>
								<th>BCOM Date</th>
								<th>Activated</th>
								<th>Created On</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="release in releasesList | filter:searchText">
								<td>{{release.name}}</td>
								<td>{{release.branchCutDate}}</td>
								<td>{{release.branchFreezeDate}}</td>
								<td>{{release.branchHardLockDate}}</td>
								<td>{{release.branchProductionDate}}</td>
								<td>{{release.mcomDate}}</td>
								<td>{{release.bcomDate}}</td>
								<td>{{release.isActivated == 'true' ? 'Yes' : 'No'}}</td>
								<td>{{release.createdOnISO8601 | date}}</td>
								<td>
									<button class="btn btn-success btn-xs" ng-click="editRelease($index)">Edit</button>
									<button ng-if="release.isActivated == 'true'"  class="btn btn-primary btn-xs" ng-click="activateRelease(release,$index,'false')">DeActivate</button>
									<button ng-if="release.isActivated == 'false'" class="btn btn-primary btn-xs" ng-click="activateRelease(release,$index,'true')">Activate</button>
									<button ng-if="release.isActivated == 'false'"  class="btn btn-danger btn-xs" ng-click="deleteBusinessObject(release.uuid,$index,releasesList,'list')">Perm Delete</button>											
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="overlay" ng-show="listOverlay"></div>
				<div class="loading-img" ng-show="listLoading"></div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>