<!-- Content Header (Page header) -->
<section class="content-header">
	<h1 style="font-weight: 800;">Release Cup : {{selectedReleaseCup.name}}</h1>

</section>

<!-- Main content -->
<section class="content">
	<!-- [START] BOXES VIEW -->
	<div class="rows animated fadeInRight ftc-leaving" ng-if="detailView == true">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>{{selectedReleaseCup.release.branchCutDate}}</h3>
					<p style="font-weight: bold">Branch Cut</p>
				</div>
				<div class="icon">
                	<i class="ion ion-scissors"></i>
                </div>
				<a href="#" class="small-box-footer" style="height: 15px;"></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-purple">
				<div class="inner">
					<h3>{{selectedReleaseCup.release.branchHardLockDate}}</h3>
					<p style="font-weight: bold">Hardlock</p>
				</div>
				<div class="icon">
                	<i class="ion ion-locked"></i>
                </div>
				<a href="#" class="small-box-footer" style="height: 15px;"></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-blue">
				<div class="inner">
					<h3>{{selectedReleaseCup.release.branchFreezeDate}}</h3>
					<p style="font-weight: bold">Freeze</p>
				</div>
				<div class="icon">
                	<i class="ion ion-locked"></i>
                </div>
				<a href="#" class="small-box-footer" style="height: 15px;"></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>{{selectedReleaseCup.release.branchProductionDate}}</h3>
					<p style="font-weight: bold">Production</p>
				</div>
				<div class="icon">
                	<i class="ion ion-merge"></i>
                </div>
				<a href="#" class="small-box-footer" style="height: 15px;"></a>
			</div>
		</div>
		<!-- ./col -->
	</div>
	<!-- [START] BOXES VIEW -->

	<!-- [START] IPM View -->
	<div class="rows animated fadeInRight ftc-leaving" ng-if="ipmView == true">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header">
					<i class="fa fa-recycle"></i>
					<h3 class="box-title">Iteration Planning Meeting</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-primary" ng-click="showDetailView()">Detail View</button>
					</div>
				</div>
				
				<div class="box-body">
				
				<div class="angular-ui-tree">
							<ol class="angular-ui-tree-nodes">
								<!-- [START] IPM1 NODE -->
								<li style="margin-bottom: 5px;" class="angular-ui-tree-node" ng-repeat="item in ipmArray">
                					<div class="angular-ui-tree-handle">
                  						<a class="btn btn-success btn-xs" style="margin-right: 2px;" ng-click="item.isCollapsed = !item.isCollapsed">
                  							<span ng-class="item.isCollapsed == true ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
                  						</a>
                  						{{item.ipm}}
                					</div>
		                			<ol  ng-class="item.isCollapsed == true ? 'angular-ui-tree-nodes hidden' : 'angular-ui-tree-nodes'">
		                		
		                			
		                				<!-- [START] MVP NODE -->
		                  				<li class="angular-ui-tree-node" ng-repeat="ipmObject in ipmTree.ipms[item.ipm]">
		                					<div class="angular-ui-tree-handle">
		                  						<a class="btn btn-success btn-xs" style="margin-right: 2px;" ng-click="ipmObject.isCollapsed = !ipmObject.isCollapsed">
		                  						<span ng-class="ipmObject.isCollapsed == true ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span></a>
		                  						{{ ipmObject.mvpName | formatmvptitle }} - {{ipmObject.mostModel}}
		                  						<a class="pull-right btn btn-success btn-xs" ng-click="addRowInTaskList(ipmObject)">Add Row</span></a>
		                					</div>
				                			<ol ng-class="ipmObject.isCollapsed == true ? 'angular-ui-tree-nodes hidden' : 'angular-ui-tree-nodes'">
				                  				<li class="angular-ui-tree-node">
				                					<table style="font-size:12px; table-layout: fixed;" id="example1" class="table table-bordered table-striped  dataTable" >
														<thead>
															<tr>
																<th style="text-align: center;" ng-repeat="col in ipmObject.columns" >{{col.name}}</th>
																<th style="text-align: center;" >Action</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="taskObj in ipmObject.taskList">
        														<td style="text-align: center;" ng-repeat="col in ipmObject.columns">
        															<span editable-text="taskObj.{{col.name}}" e-name="taskObj.{{col.name}}"  e-form="rowform" e-required>
         	 															{{taskObj[col.name]}}
       			 													</span>
        														</td>
        														
        														<td style="white-space: nowrap">
      													        	<form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline">
															          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" ng-click="saveTree(rowform,taskObj)">
															            Save
															          </button>
															          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
															            Cancel
															          </button>
															     	</form>
															        <div class="buttons" ng-show="!rowform.$visible">
															          <button class="btn btn-primary btn-xs" ng-click="rowform.$show()">Edit</button>
															          <button class="btn btn-danger btn-xs" ng-click="deleteTaskObjectFromList(ipmObject.taskList,$index)">Del</button>
															        </div>  
      															</td>
        														
    														</tr>
							
														</tbody>

													</table>
				                  				</li>				              					
		                					</ol>
		              					</li>
		              					
		              					<!-- [END] MVP NODE -->
		              					
		                			</ol>
		                			
              					</li>
              					
              					<!-- [END] IPM NODE -->
								
							</ol>
							
						</div>
				</div>
					
				
				
				
			</div>
		</div>
	</div>
	<!-- [END] IPM View -->
	
<!-- [START] MATRIX ROW -->
	<div class="rows animated fadeInRight ftc-leaving" ng-if="detailView == true">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header">
					
					<h3 class="box-title">The Cup - {{selectedReleaseCup.name}}</h3>
					<div class="box-tools pull-right">
						<button id="idGraphBtn" class="btn btn-primary ng-hide" ng-click="rePopulatebarGraphData()">Show Graph</button>
						<button id="idGraphBtn2" class="btn btn-primary ng-hide" ng-click="rePopulatebarGraphIPMData()">Show Graph2</button>
						<button class="btn btn-primary" ng-click="showIPMView()">IPM View</button>
						<button class="btn btn-danger" ng-click="deleteRow()" ng-show="showDeleteButton">Delete Row</button>
						<button class="btn btn-success" ng-click="addRow()">Add Row</button>
					</div>
				</div>
				<div class="box-body">
					<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-edit style="width: 100%;height: 291px;"></div>
					<div class="overlay" ng-show="mtOverlay"></div>
					<div class="loading-img" ng-show="mtLoading"></div>
				</div>
				<div class="box-footer" style="font-size: 12px;font-style: italic;color: #c00;font-weight: bold;">
					Note: To make MVP as Confluence link, edit it and put a semicolon b/w MVP and Confluence URL
				</div>
			</div>
		</div>
	</div>
	<!-- [END] MATRIX ROW -->
	
	<!-- [START] TWO BAR GRAPH ROW -->
	<div class="rows animated fadeInRight ftc-leaving" ng-if="barGraphData.length>0 && detailView == true">
		<!-- [START] BAR GRAPGH PER COMPONENT -->
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header">
					<i class="fa fa-bar-chart" style="font-size: 17px;"></i>
					<h3 class="box-title" style="font-size: 17px;">Graph Per Subject Matter Experts/Functions</h3>	
					<div class="box-tools pull-right">
                      <div class="label bg-green" style="font-size:12px">Dev Days : {{selectedReleaseCup.devDays}}</div>
                    </div>				
				</div>
				<div class="box-body">
					<div bar-chart bar-data="barGraphData" bar-x="component" bar-y='["occ", "rem"]' bar-labels='["Occupied %", "Remaining %"]' bar-colors='["#31C0BE", "#c7254e"]' bar-resize="resize"></div>
				</div>
				
				<div class="overlay" ng-show="bgOverlay"></div>
				<div class="loading-img" ng-show="bgLoading"></div>
				
			</div>
		</div>	
		<!-- [END] BAR GRAPGH PER COMPONENT -->
		
		<!-- [START] BAR GRAPGH PER IPM -->
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header">
					<i class="fa fa-bar-chart" style="font-size: 17px;"></i>
					<h3 class="box-title" style="font-size: 17px;">Graph Per IPM</h3>	
					<div class="box-tools pull-right">
                      <div class="label bg-green" style="font-size:12px">Dev Days : {{selectedReleaseCup.devDays}}</div>
                    </div>				
				</div>
				<div class="box-body">
				
				<div bar-chart bar-data="barGraphIPMData" bar-x="ipmName" bar-y='["occ", "rem"]' bar-labels='["Occupied %", "Remaining %"]' bar-colors='["#31C0BE", "#c7254e"]'></div>
				
				</div>
				
				<div class="overlay" ng-show="bgOverlay"></div>
				<div class="loading-img" ng-show="bgLoading"></div>
				
			</div>
		</div>	
		<!-- [END] BAR GRAPGH PER IPM -->	
	</div>
	<!-- [END] TWO BAR GRAPH ROW -->
	
</section>

<script type="text/ng-template" id="mapAddress.html">
      <div class="ui-grid-cell-contents">
		<a style="text-decoration: none;color: #428bca;border-bottom: dashed 1px #428bca;"   href="{{ COL_FIELD | formatmvplink }}" target="_blank">{{ COL_FIELD | formatmvptitle  }}</a>
      </div>
</script>
<!-- /.content -->